ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 35%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #1171a2;
}

.btn {
	display: inline-block;
	background-color: #56baed;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    float: left;
}